<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>askmeanything_v2</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="/assets/css/NZDropdown---Status.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div id="main-div">
        <div class="container-fluid" id="header-el">
            <nav class="navbar navbar-light navbar-expand-md sticky-top bg-white" id="header-el">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="/assets/img/logo1.1.png">&nbsp;</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="btn btn-secondary" role="button" id="redirect-button" href="home.html"><i class="fa fa-home" id="icons-nav"></i></a><button class="btn btn-primary" type="button">Sign Out</button></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container" id="main-screen-cards">
            <h2 id="message" style="color: var(--blue);"><strong>About</strong></h2>
            <div class="row">
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h3 class="card-title" style="font-size: 18px;color: var(--blue);"><strong>What is AskMeAnything?</strong></h3>
                            <p class="card-text" style="font-size: 15px;color: var(--blue);">AskMeAnything is a Q&amp;A Software as a Service (SaaS) application that is offered for a variety of circumstances, such as help desk service or a company's esoteric information exchange.</p>
                            <h3 class="card-title" style="font-size: 18px;color: var(--blue);"><br><strong>Who are we?</strong><br></h3>
                            <p class="card-text" style="font-size: 15px;color: var(--blue);">We are a team of undergraduate students that have developed this application from scratch as part of the course 'Software as a Service' on our 8th semester in the Electrical and Computer Engineering school of the National Technical
                                University of Athens.<br></p>
                            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2">
                                <div class="col">
                                    <div class="card shadow" id="developer-id" style="background: rgba(149,165,166,0.5);">
                                        <div><img id="developer-img" src="/assets/img/christos-img-2.jpg">
                                            <h4 style="color: var(--blue)">Christos Hadjichristofi</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow" id="developer-id" style="background: rgba(149,165,166,0.5);">
                                        <div><img id="developer-img" src="/assets/img/panos-img-2.jpg">
                                            <h4 style="color: var(--blue)">Panos Zevgolatakos</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-basic">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa fa-info-circle"></i>&nbsp;About</a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i>&nbsp;Contact Us</a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-file-text"></i>&nbsp;Project Documentation</a></li>
            <li class="list-inline-item"><a href="#"><i class="icon ion-social-github"></i>&nbsp;Github</a>
                <a href="#"></a>
            </li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-graduation-cap"></i>&nbsp;Course Materials</a></li>
        </ul>
        <p class="copyright">AskMeAnything © 2021</p>
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>