<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>askmeanything_v2</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/NZDropdown---Status.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div id="main-div">
        <div class="container-fluid" id="header-el">
            <nav class="navbar navbar-light navbar-expand-md sticky-top bg-white" id="header-el">
                <div class="container-fluid"><a class="navbar-brand" href="#">&nbsp;<img src="assets/img/logo1.1.png"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"></li>
                            <li class="nav-item"><a class="btn btn-secondary" role="button" id="redirect-button" href="profile.html"><i class="fa fa-user" id="icons-nav"></i></a><button class="btn btn-primary" type="button">Sign Out</button></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container" id="main-screen-cards">
            <h2 id="message" style="color: var(--blue);">Welcome to AskMeAnything</h2>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4 row-cols-lg-4 row-cols-xl-4">
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;color: var(--blue);">Questions per keyword</h4>
                            <p>Here goes the graph</p>
                        </div>
                    </div>
                </div>
                <div class="col align-items-stretch">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body flex-shrink-1">
                            <h4 class="card-title" style="font-size: 18px;color: var(--blue);">Questions per day/period<br></h4>
                            <p>Here goes the graph<br></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;color: var(--blue);">Ask a Question</h4>
                            <p class="card-text" id="text-card" style="font-size: 15px;color: var(--blue);">Got a question? <br>Feel free to ask!</p><button class="btn btn-primary" id="button-in-card" type="button" data-toggle="modal" data-target="#ask-question">Ask</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;">Answer a Question</h4>
                            <p class="card-text" id="text-card" style="font-size: 15px;color: var(--blue);">Want to help others?<br>Answer some questions!</p><button class="btn btn-primary" id="button-in-card" type="button" data-toggle="modal" data-target="#answer-question">Answer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" role="dialog" tabindex="-1" id="ask-question">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" style="color: var(--blue);">Ask a Question</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <form class="mt-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-font"></i></span></div><input class="form-control" type="text" placeholder="Question Title">
                                        <div class="input-group-append"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-question-circle"></i></span></div><textarea class="form-control" placeholder="Question Text" rows="1"></textarea>
                                        <div class="input-group-append"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-key"></i></span></div><input class="form-control" type="text" placeholder="Keywords">
                                        <div class="input-group-append"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer"><button class="btn btn-primary" type="button">Submit question</button><button class="btn btn-light" type="button" data-dismiss="modal">Nevermind</button></div>
                    </div>
                </div>
            </div>
            <div class="modal fade" role="dialog" tabindex="-1" id="answer-question">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" style="color: var(--blue);">Answer a Question</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <form class="mt-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-font"></i></span></div><select class="form-control">
                                            <optgroup label="Question Title">
                                                <option value="12" selected="">This is item 1</option>
                                                <option value="13">This is item 2</option>
                                                <option value="14">This is item 3</option>
                                            </optgroup>
                                        </select>
                                        <div class="input-group-append"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-key"></i></span></div><input class="form-control" type="text" placeholder="Keywords" readonly="">
                                        <div class="input-group-append"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div id="other-answers">
                                        <div class="card">
                                            <div class="card-body">
                                                <h6 class="text-muted card-subtitle mb-2">Answered by: X Question #1 of #N</h6>
                                                <p class="card-text">His answer</p><a class="card-link" href="#"><i class="fa fa-chevron-left"></i></a><a class="card-link" href="#"><i class="fa fa-chevron-right" id="next-question"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-question-circle"></i></span></div><textarea class="form-control" placeholder="Your Answer" rows="1"></textarea>
                                        <div class="input-group-append"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer"><button class="btn btn-primary" type="button">Submit answer</button><button class="btn btn-light" type="button" data-dismiss="modal">Nevermind</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer-basic">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa fa-info-circle"></i>&nbsp;About</a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i>&nbsp;Contact Us</a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-file-text"></i>&nbsp;Project Documentation</a></li>
            <li class="list-inline-item"><a href="#"><i class="icon ion-social-github"></i>&nbsp;Github</a><a href="#"></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-graduation-cap"></i>&nbsp;Course Materials</a></li>
        </ul>
        <p class="copyright">AskMeAnything © 2021</p>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>