<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>askmeanything_v2</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/NZDropdown---Status.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div id="main-div">
        <div class="container-fluid" id="header-el">
            <nav class="navbar navbar-light navbar-expand-md sticky-top bg-white" id="header-el">
                <div class="container-fluid"><a class="navbar-brand" href="#"><img src="assets/img/logo1.1.png" width="200" height="50"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link active" href="#"><button class="btn btn-outline-primary" data-toggle="modal" data-target="#signup" type="button">Log In</button></a></li>
                            <li class="nav-item"><a class="nav-link active" href="#"><button class="btn btn-primary" data-toggle="modal" data-target="#signin" type="button">Sign Up</button></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="modal fade" role="dialog" tabindex="-1" id="signup">
                <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" style="color: var(--blue);">Sign In</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="text-primary input-group-text"><i class="fa fa-user"></i></span></div><input class="form-control" type="email" placeholder="Username">
                                        <div class="input-group-append"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="text-primary input-group-text"><i class="fa fa-lock"></i></span></div><input class="form-control" type="password" required="" placeholder="Password">
                                        <div class="input-group-append"></div>
                                    </div>
                                </div>
                                <div class="form-group"><button class="btn btn-primary btn-lg text-white" style="width: 100%;" type="button">Log in</button></div>
                            </form>
                            <hr style="background-color: #bababa;">
                            <p class="text-center" style="color: var(--blue);">Or&nbsp;<a class="text-decoration-none" href="#">Forget password</a></p>
                            <p class="text-center" style="color: var(--blue);">Don't have an account? &nbsp;<a class="text-decoration-none" data-dismiss="modal" data-toggle="modal" data-target="#signin" href="#">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" role="dialog" tabindex="-1" id="signin">
                <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" style="color: var(--blue);">Sign Up Now</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <form class="mt-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="text-primary input-group-text"><i class="fa fa-envelope-o"></i></span></div><input class="form-control" type="email" required="" placeholder="Email">
                                        <div class="input-group-append"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="text-primary input-group-text"><i class="fa fa-lock"></i></span></div><input class="form-control" type="password" required="" placeholder="Password">
                                        <div class="input-group-append"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="text-primary input-group-text"><i class="fa fa-lock"></i></span></div><input class="form-control" type="password" required="" placeholder="Password confirmation">
                                        <div class="input-group-append"></div>
                                    </div>
                                </div>
                                <div class="form-group"><button class="btn btn-primary btn-lg text-white" style="width: 100%;" type="button">Sign Up</button></div>
                            </form>
                            <hr style="background-color: #bababa;">
                            <p class="text-center" style="color: var(--blue);">Already have an Account?&nbsp;<a class="text-decoration-none" data-dismiss="modal" data-toggle="modal" data-target="#signup" href="#">Log In</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="main-screen-cards">
            <h2 id="message" style="color: var(--blue);"><strong>Welcome to AskMeAnything</strong></h2>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4 row-cols-lg-4 row-cols-xl-4">
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;color: var(--blue);"><strong>Questions per keyword</strong></h4>
                            <p>Here goes the graph</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;color: var(--blue);"><strong>Questions per day/period</strong><br></h4>
                            <p>Here goes the graph<br></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;color: var(--blue);"><strong>Ask a Question</strong></h4>
                            <p class="card-text" id="text-card" style="font-size: 15px;color: var(--blue);">Got a question? <br>Feel free to ask!</p><button class="btn btn-primary" id="button-in-card" type="button">Ask</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow" style="background: rgba(149,165,166,0.5);">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;"><strong>Answer a Question</strong></h4>
                            <p class="card-text" id="text-card" style="font-size: 15px;color: var(--blue);">Want to help others?<br>Answer some questions!</p><button class="btn btn-primary" id="button-in-card" type="button">Answer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-basic">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa fa-info-circle"></i>&nbsp;About</a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i>&nbsp;Contact Us</a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-file-text"></i>&nbsp;Project Documentation</a></li>
            <li class="list-inline-item"><a href="#"><i class="icon ion-social-github"></i>&nbsp;Github</a><a href="#"></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-graduation-cap"></i>&nbsp;Course Materials</a></li>
        </ul>
        <p class="copyright">AskMeAnything © 2021</p>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>