.card-body {
  min-height: 300px;
  text-align: center;
}

img:hover {
  content: url(../../assets/img/logo1.2.png);
  vertical-align: middle;
  border-style: none;
}

#main-div {
  padding-bottom: 50px;
}

@media (max-width:767.98px) {
  .row-cols-xl-4 > * {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
}

