<footer id="footer" class="footer-basic">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="http://localhost:8765/about/">
                <i class="fa fa-info-circle"></i>&nbsp;About</a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                <i class="fa fa-phone"></i>&nbsp;Contact Us</a>
        </li>
        <li class="list-inline-item">
            <a href="http://localhost:8765/documentation/">
                <!-- <a href="http://localhost:8765/download?filename=saas-77.vpp"></a> -->
                <i class="fa fa-file-text"></i>&nbsp;Project Documentation</a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/BeenCoding/SaaS77-NTUA">
                <i class="fa fa-github fa-lg"></i>&nbsp;Github</a>
        </li>
        <li class="list-inline-item">
            <a href="https://courses.pclab.ece.ntua.gr/course/view.php?id=34">
                <i class="fa fa-graduation-cap"></i>&nbsp;Course Materials</a>
        </li>
    </ul>
    <p class="copyright">AskMeAnything © 2021</p>
</footer>